@model LunchDictator.Web.Models.DictatorshipViewModel

@{
    ViewBag.Title = "New Dictatorship";
}

@if (TempData["Message"] != null)
{
    <div class="alert alert-info">
        @TempData["Message"]
    </div>
}

@using (Html.BeginForm())
{
    <div class="form-horizontal" ng-controller="dictatorshipController">
        <h4>@WebCommon.DictatorshipCreateHeader</h4>
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control", ng_model = "dictatorshipName" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
                <a href="" ng-click="getRandomDictatorshipName()">@WebCommon.DictatorshipRandomise</a>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImageUrl, new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.TextBoxFor(model => model.ImageUrl, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ImageUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@WebCommon.DictatorshipCreateButton" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript">
        angular.module("ldApp", []).controller("dictatorshipController", function ($scope, $http) {

            $scope.dictatorshipName = "";

            $scope.getRandomDictatorshipName = function () {
                $http({ method: 'GET', url: '/Dictatorship/GetRandomDictatorshipName' }).
                    success(function (data) {
                        $scope.dictatorshipName = data.Name;
                    }).
                    error(function (data) {
                        $scope.dictatorshipName = "";
                    });
            };
        });
    </script>
}